.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 30vh;
}
